.pageWrapper {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.formContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    border: 1px solid var(--background-color-hover);
    border-radius: 12px;
}

.column{
    flex-grow: 1;
}

.establishmentOwnerWrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
}

.establishmentContainer, .ownerContainer {
    flex-basis: 45%; 
    flex-grow: 1;
}

.formContainer {
    width: 100%; /* Assegura que o formContainer ocupe 100% da largura do elemento pai */
    display: flex;
    flex-direction: column;
}

span{
    color: var(--text-color);
}

.title{
    padding-bottom: 10px;
}

.formColumns {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: 100%;
}

.inputWrapper {
    position: relative;
    display: flex;
    align-items: center;
    border: 1px solid var(--background-color-hover);
    border-radius: 12px;
    padding: 10px;
    background-color: var(--background-color);
}

.inputWrapper input {
    border: none;
    outline: none;
    width: 100%;
    font-size: 14px;
    padding: 5px;
}

.actionButtonsContainer{
    padding-top: 20px;
    display: flex;
    gap: 10px;
    justify-content: end;
}

@media (max-width: 768px) {
    .formColumns {
        flex-direction: column;
    }
    .actionButtonsContainer {
        flex-direction: column;
        align-items: center;
    }
    .outlinedButton, .primaryButton {
        width: 100%;
        margin: 5px 0;
    }
}

@media (max-width: 480px) {
    .contentWrapper {
        width: 90vw;
    }

    .formHeader h2 {
        font-size: 1.5rem;
    }

    .formHeader p {
        font-size: 14px;
    }
}
