.pageWrapper {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  // Títulos da página
  .pageTitle {
    padding-bottom: 10px;
    font-size: 1.5rem;
    font-weight: bold;
  }

  .pageSubtitle {
    margin-bottom: 2rem;
    text-align: left;
    color: var(--text-color);
  }

  .photoButtonContainer{
    width: 25%;
    margin: 0 auto;
  }

  .subtitle {
    padding-bottom: 10px;
    font-size: 1.3rem;
    font-weight: bold;
  }

  // Container principal do formulário
  .formContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    border: 1px solid var(--background-color-hover);
    border-radius: 12px;
  }

  // Área que agrupa os dois blocos (estabelecimento e proprietário)
  .establishmentOwnerWrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
  }

  .establishmentContainer,
  .ownerContainer {
    flex: 1 1 48%;
    min-width: 300px;
  }

  // Colunas internas do formulário
  .formColumns {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;

    .column {
      flex: 1 1 48%;
      min-width: 300px;
    }
  }

  // Inputs
  .inputContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: 100%;
  }

  .inputLabel {
    font-size: 1rem;
    color: var(--text-color);
    text-align: left;
  }

  .disabledInput {
    color: var(--text-color);
  }

  .inputWrapper {
    position: relative;
    display: flex;
    align-items: center;
    border: 1px solid var(--background-color-hover);
    border-radius: 12px;
    padding: 10px;
    background-color: var(--background-color);

    input {
      border: none;
      outline: none;
      width: 100%;
      padding: 10px;
      font-size: 14px;
      box-sizing: border-box;
    }
  }

  // Botões
  .actionButtonsContainer {
    padding-top: 20px;
    display: flex;
    gap: 10px;
    justify-content: flex-end;
  }

  // Modal
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }

  .modalContent {
    background-color: white;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    max-width: 90%;
    width: 400px;
    height: 200px;
  }

  .modalTitle {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--title-color);
    margin-bottom: 10px;
  }

  .modalSubtitle {
    padding-bottom: 15px;
  }

  // Responsividade
  @media (max-width: 768px) {
    .formColumns {
      flex-direction: column;

      .column {
        flex: 1 1 100%;
      }
    }

    .establishmentContainer,
    .ownerContainer {
      flex: 1 1 100%;
    }

    .actionButtonsContainer {
      flex-direction: column;
      align-items: center;

      .outlinedButton,
      .primaryButton {
        width: 100%;
        margin: 5px 0;
      }
    }
  }

  @media (max-width: 480px) {
    .contentWrapper {
      width: 90vw;
    }

    .formHeader {
      h2 {
        font-size: 1.5rem;
      }

      p {
        font-size: 14px;
      }
    }
  }
}
