.faqMainContainer {
  display: flex;
  flex-direction: column; /* Mudança para coluna em dispositivos pequenos */
  width: 90%;
  max-width: 1200px;
  margin: 75px auto;
  background-color: var(--faq-background-color);
  padding: 50px 20px;
  border-radius: 12px;
}

.faqTitle {
  font-size: 2rem;
  color: var(--title-color);
  margin-bottom: 40px; /* Diminuir espaçamento para dar mais proximidade ao conteúdo */
  text-align: center;  /* Centraliza o título */
}

.accordionListContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px; /* Espaçamento entre cada item do acordeão */
}

/* Media Queries para responsividade */
@media (max-width: 768px) {
  .faqMainContainer {
    padding: 40px 10px;  /* Reduz o padding em dispositivos menores */
  }

  .faqTitle {
    font-size: 1.8rem;   /* Tamanho de fonte menor em tablets */
    margin-bottom: 30px;
  }

  .accordionListContainer {
    gap: 15px;  /* Reduz o espaçamento entre os itens do acordeão */
  }
}

@media (max-width: 480px) {
  .faqMainContainer {
    padding: 30px 10px;
  }

  .faqTitle {
    font-size: 1.5rem;  /* Tamanho menor para dispositivos móveis */
    margin-bottom: 20px;
  }

  .accordionListContainer {
    gap: 10px;  /* Espaçamento menor entre os itens */
  }
}
