.reservationsTitle {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.reservationsSubtitle {
  color: var(--text-color);
  margin-bottom: 1.5rem;
}

.tableResponsive {
  width: 100%;
  overflow-x: auto;
  border-radius: 12px;
}

.customTable {
  background-color: #343a40;
  border-radius: 12px;
}

.tableHeader {
  background-color: #495057;
  color: var(--primary-color);
  font-size: 1.1rem;
  text-align: center;
  padding: 16px !important;
}

.tableRow {
  transition: background-color 0.3s ease;
}

.tableRow:hover {
  background-color: #565e64;
}

.tableData {
  text-align: center;
  color: var(--secondary-title-color);
  padding: 12px !important;
  vertical-align: middle;
}

.tableHeaderRow {
  th:first-child {
    border-top-left-radius: 12px;
  }

  th:last-child {
    border-top-right-radius: 12px;
  }
}

.cancelButton {
  background-color: transparent;
  border: 1px solid var(--danger);
  color: var(--danger);
  padding: 4px 10px;
  border-radius: 6px;
  font-size: 0.9rem;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    background-color: var(--danger);
    color: var(--secondary-title-color);
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  background-color: white;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
  max-width: 90%;
  width: 400px;
}

.modalSubtitle {
  padding-bottom: 15px;
}

.modalTitle{
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--title-color);
  margin-bottom: 10px;
}

.formContainer {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-bottom: 2rem;
  width: 100%;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.inputLabel{
  font-size: 1rem;
  color: var(--text-color);
  text-align: left;
}

.inputWrapper {
  position: relative;
  display: flex;
  align-items: center;
  border: 1px solid var(--background-color-hover);
  border-radius: 12px;
  padding: 10px;
  background-color: var(--background-color);
}

.inputWrapper input {
  border: none;
  outline: none;
  width: 100%;
  padding: 10px;
  font-size: 14px;
}


/* Estilo para os cards no mobile */
.mobileCardsContainer {
  display: none;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
}

.mobileCard {
  background-color: #343a40;
  border: 1px solid #495057;
  border-radius: 12px;
  padding: 1rem;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  color: var(--secondary-title-color);
  p {
    margin: 0.3rem 0;
    font-size: 0.95rem;

    strong {
      color: var(--primary-color);
    }
  }

  .cancelButton {
    margin-top: 0.5rem;
  }
}

.iconButton {
  cursor: pointer;
  font-size: 1.2rem;
  color: #ccc;
  transition: color 0.3s;

  &:hover {
    color: var(--primary-color)
  }
}

.iconButtonTrash {
  cursor: pointer;
  font-size: 1.2rem;
  color: #ccc;
  transition: color 0.3s;

  &:hover {
    color: var(--danger);
  }
}

.mobileActions {
  display: flex;
  gap: 12px;
  margin-top: 10px;
}




/* Responsividade */
@media (max-width: 768px) {
  .tableResponsive {
    display: none;
  }

  .mobileCardsContainer {
    display: flex;
  }

  .reservationPagination {
    justify-content: center;
  }
}

