:root {
  --primary-color: #F5D400;
  --primary-color-hover: #d6bb0d;
  --secondary-color: #222222;
  --text-color: #797979;
  --title-color: #222222;
  --secondary-title-color: #FFFFFF;
  --background-color: #FFFFFF;
  --background-color-hover: #cfcfcf;
  --faq-background-color: #D9D9D9;

  --success: #198754;
  --danger: #dc3545;
  --warning: #ffc107;
  --info: #0dcaf0;
}