.siteNavbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 1200px;
  width: 95%;
  padding: 10px 0;
  gap: 20px;
}

.arenazMainButton {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--text-color);
  transition: transform 0.3s ease;
}

.arenazMainButton:hover {
  transform: scale(1.05);
}

.arenazLogo {
  margin-right: 10px;
  width: 80px;
  height: auto;
}

.arenazMainButton p {
  margin: 0;
  font-size: 1.3rem;
  font-weight: 600;
  color: #000;
}

.siteNavbar div {
  display: flex;
  gap: 15px; /* Espaço entre os botões */
}

/* Media Queries para responsividade */
@media (max-width: 768px) {
  .siteNavbar {
    flex-direction: column;
    align-items: center;
    padding: 20px 10px; 
  }

  .arenazLogo {
    width: 80px;
  }

  .arenazMainButton p {
    font-size: 1.1rem;
  }

  .siteNavbar div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
  }
}

@media (max-width: 480px) {
  .siteNavbar {
    flex-direction: column;
    align-items: center;
    padding: 15px 10px;
  }

  .arenazLogo {
    width: 70px;
  }

  .arenazMainButton p {
    font-size: 1rem;
  }

  .siteNavbar div {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 15px;
  }
}
