.siteFooter {
  margin: 0 auto;
  padding: 10px 0;
  text-align: center;
  max-width: 1200px;
  align-items: center;
  position: relative;
  bottom: 0;
  width: 100%; /* Garante que o footer ocupe toda a largura da tela */
  background-color: var(--background-color); /* Para dar um fundo ao footer, caso necessário */
  color: var(--text-color); /* Cor do texto */
}

/* Media Queries para responsividade */
@media (max-width: 768px) {
  .siteFooter {
    padding: 15px 10px; /* Aumenta o padding para telas menores */
  }

  .siteFooter p {
    font-size: 14px; /* Ajusta o tamanho da fonte para telas menores */
  }
}

@media (max-width: 480px) {
  .siteFooter {
    padding: 20px 10px; /* Aumenta o padding em telas muito pequenas */
  }

  .siteFooter p {
    font-size: 12px; /* Ajusta ainda mais o tamanho da fonte para telas pequenas */
  }
}
