.contentWrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 20px;
  text-align: center;
  width: 100%;
  border: solid 1px var(--background-color-hover);
  border-radius: 12px;
  position: relative;
}

.arenaRegisterTitle {
  margin-bottom: 1rem;
  text-align: left;
  color: var(--title-color);
  font-size: 1.5rem;
  font-weight: bold;
}

.arenaRegisterParagraph {
  margin-bottom: 2rem;
  text-align: left;
  color: var(--text-color);
}

.arenaRegisterSubtitle {
  margin-bottom: 1rem;
  color: var(--title-color);
  font-size: 1.3rem;
  font-weight: bold;
  text-align: left;
}

.formContainer {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-bottom: 2rem;
  width: 100%;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.inputLabel{
  font-size: 1rem;
  color: var(--text-color);
  text-align: left;
}

.inputWrapper {
  position: relative;
  display: flex;
  align-items: center;
  border: 1px solid var(--background-color-hover);
  border-radius: 12px;
  padding: 10px;
  background-color: var(--background-color);
}

.inputWrapper input {
  border: none;
  outline: none;
  width: 100%;
  padding: 10px;
  font-size: 14px;
}

/* span {
  text-align: left;
} */

/* input[type='text']:focus,
input[type='number']:focus {
  outline: none;
  border-color: var(--primary-color);
} */

.radioContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 2rem;
}

.radioItem {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

/* input[type='radio'] {
  width: 1.2rem;
  height: 1.2rem;
  accent-color: var(--primary-color);
} */

/* label {
  font-size: 1rem;
  color: #333;
  cursor: pointer;
} */

.actionButtonContainer {
  position: absolute;
  right: 20px;
  bottom: 10px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  background-color: white;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
  max-width: 90%;
  width: 400px;
  height: 200px;
}

.modalSubtitle {
  padding-bottom: 15px;
}

@media (max-width: 600px) {
  .modalContent {
    width: 90%;
    padding: 15px;
  }

  .primaryButton {
    width: 100%;
  }
}

@media (max-width: 1024px) {
  .modalContent {
    width: 80%;
  }
}

@media (min-width: 768px) {
  .formContainer {
    flex-direction: row;
    justify-content: space-between;
  }

  .inputContainer {
    width: 48%;
  }
}
