.welcome{
  padding: 20px;
  font-size: 1.8rem;
  font-weight: bold;
}

.arenaRegisterTitle,
.arenaRegisterSubtitle,
.arenaRegisterParagraph {
  text-align: left;
  padding-bottom: 15px;
}

.modalTitle{
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--title-color);
  margin-bottom: 10px;
}

.modalOverlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.registerSubtitle {
  margin-bottom: 25px;
  color: var(--text-color);
}

.actionButtonsContainer {
  margin-top: 25px;
  display: flex;
  justify-content: stretch;
  gap: 10px;
  width: 100%;
}

.outlinedButton,
.primaryButton {
  flex-grow: 1;
}

.outlinedButton {
  background-color: transparent;
  color: var(--title-color);
  padding: 10px 30px;
  border-radius: 12px;
  border: 2px solid var(--title-color);
  font-size: 1.2rem;
  text-decoration: none;
  transition: 0.5s ease;
  margin-inline: 10px;
}

.outlinedButton:hover {
  background-color: var(--background-color-hover);
  cursor: pointer;
}

.primaryButton {
  background-color: var(--primary-color);
  color: var(--title-color);
  padding: 10px 30px;
  border-radius: 12px;
  border: none;
  font-size: 1.2rem;
  text-decoration: none;
  transition: 0.5s ease;
  margin-inline: 10px;
}

.primaryButton:hover {
  background-color: var(--primary-color-hover);
  cursor: pointer;
}

.primaryButton:disabled {
  background-color: var(--disabled-background-color);
  color: var(--disabled-text-color);
  cursor: not-allowed;
  opacity: 0.6;
}

.pageWrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
}

.contentWrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
  width: 50vw;
  border: solid 1px var(--background-color-hover);
  border-radius: 12px;
}

.formHeader {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}

.formContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

.forms{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.inputLabel {
  font-size: 1rem;
  color: var(--text-color);
  text-align: left;
  }

.inputContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: 100%;
  max-width: 400px;
}

.inputContainer span {
  margin-bottom: 5px;
  font-size: 14px;
  color: var(--text-color);
  align-self: flex-start;
}

.mainFormContainer{
  width: 100%;
}

.inputWrapper {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  border: 1px solid var(--background-color-hover);
  border-radius: 12px;
  padding: 10px 40px 10px 10px;
  background-color: var(--background-color);
  color: var(--text-color);
  margin-left: 5px;
}

.inputWrapper input {
  border: none;
  outline: none;
  width: 100%;
  font-size: 14px;
  background: transparent;
  color: var(--text-color);
}

.inputWrapper input::placeholder {
  color: var(--text-color);
  opacity: 0.6;
}

.inputWrapper:focus-within {
  border-color: var(--primary-color);
}

.iconInsideInput {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: var(--background-color-hover);
}

.radioContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
  padding: 20px 0;
}

.radioItem {
  display: flex;
  align-items: center;
}

.radioItem input {
  margin-right: 10px;
}

.radioItem input[type='radio']:checked {
  accent-color: var(--primary-color);
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  padding: 20px;
}
.modalContent {
  background: var(--background-color);
  padding: 30px;
  border-radius: 12px;
  text-align: center;
  max-width: 400px;
  width: 100%;
  box-sizing: border-box;
}

.modalActions {
  margin-top: 20px;
}

.inputError {
  border: 1px solid var(--danger) !important;
}

.errorText {
  color: var(--danger);
  font-size: 0.85rem;
  margin-top: 5px;
  text-align: start;
}

/* Media Queries para responsividade */
@media (max-width: 768px) {
  .contentWrapper {
    width: 80vw;
  }

  .formContainer {
    width: 100%;
  }

  .inputWrapper input {
    width: 90%;
  }

  .actionButtonsContainer {
    flex-direction: column;
    align-items: center;
  }

  .outlinedButton,
  .primaryButton {
    width: 100%;
    margin: 5px 0;
  }
}

@media (max-width: 480px) {
  .contentWrapper {
    width: 90vw;
  }

  .formHeader h2 {
    font-size: 1.5rem;
  }

  .formHeader p {
    font-size: 14px;
  }
}
