* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

@media (min-width: 768px) {
    .content {
        flex-direction: row;
    }
}

.sidebar {
    width: 100%;
    background-color: var(--secondary-color);
    color: var(--background-color);
    padding: 20px;
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 0px 12px 12px 0px;
}

@media (min-width: 768px) {
    .sidebar {
        width: 250px;
        text-align: left;
    }
}

.navList {
    list-style: none;
    flex-grow: 1; 
}

.navItem {
    margin-bottom: 20px;
}

.navLink {
    color: var(--background-color);
    text-decoration: none;
    font-size: 18px;
    transition: color 0.5s ease;
}

.navLink:hover {
    color: var(--primary-color);
}

.navLink.active {
    color: var(--primary-color);
    font-weight: bold;
}

.header {
    background-color: var(--background-color);
    color: var(--text-color);
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.logoutBtn {
    background-color: var(--danger);
    color: var(--background-color);
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}

.logoutBtn:hover {
    background-color: #c53030;
}

@media (min-width: 768px) {
    .logoutBtn {
        margin-top: 0;
    }
}

.mainContent {
    flex-grow: 1;
    padding: 20px;
    background-color: #fff;
    height: 100%;
}

@media (max-width: 767px) {

    .navLink {
        font-size: 16px;
    }

    .logo {
        font-size: 20px;
    }

    .logoutBtn {
        padding: 8px 16px;
    }

    .mainContent {
        padding: 15px;
    }
}

.arenazMainButton {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--text-color);
    transition: transform 0.3s ease;
}

.arenazMainButton:hover {
    transform: scale(1.05);
}

.arenazLogo {
    margin-right: 10px;
    width: 80px;
    height: auto;
}

.arenazMainButton p {
    font-size: 20px;
    color: var(--secondary-color);
    margin: 0;
}


@media (max-width: 767px) {
    .arenazLogo {
        width: 60px; 
    }

    .arenazMainButton p {
        font-size: 18px; 
    }
}

@media (min-width: 768px) {
    .arenazMainButton p {
        font-size: 22px; 
    }
}
