.actionButtonContainer {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
}

.dashboardMainContent {
  height: 100%;
}

.welcome {
  color: var(--text-color);
}

.userName {
  font-weight: bold;
  color: var(--title-color);
}

.cardsContainer {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: start;
  gap: 20px;
  margin-top: 20px;
}

.arenaCard {
  background-color: var(--background-color);
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.2s ease-in-out;
  width: 15%;
  text-align: center;
  margin-bottom: 20px;
}

.arenaCard:hover {
  transform: scale(1.05);
}

.arenaCardImage {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-bottom: 2px solid var(--background-color);
}

.arenaInfos {
  display: flex;
  flex-direction: column;
}

.arenaName {
  font-size: 1.3rem;
  font-weight: bold;
  margin: 15px 0 5px 0;
  color: var(--title-color);
}

.arenaCategory {
  font-size: 1.1rem;
  color: var(--text-color);
  margin-bottom: 10px;
}

.arenaPrice {
  font-weight: 600;
  margin: 10px 0;
  color: var(--secondary-title-color);
  background-color: var(--success);
  padding: 5px 20px;
  align-self: center;
  border-radius: 12px;
  align-items: center;
}

.newReservationLink {
  background-color: var(--primary-color);
  color: var(--title-color);
  font-weight: bold;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 8px;
  font-size: 1rem;
  display: inline-block;
  margin-bottom: 20px;
  transition: background-color 0.2s ease-in-out;
}

.newReservationLink:hover {
  background-color: var(--primary-color-hover);
}

.newReservationLink p {
  margin: 0;
}

.noArenasMessage,
.noReservationsMessage {
  text-align: center;
  font-size: 1.2rem;
  color: var(--text-color);
  margin-top: 20px;
}

.reservationStatusContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
}

.reservationIndicator {
  background-color: var(--background-color);
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 250px;
  text-align: center;
  transition: transform 0.2s ease-in-out;
}

.reservationIndicator:hover {
  transform: scale(1.05);
}

.valueTitle {
  font-size: 1.1rem;
  font-weight: bold;
  color: var(--title-color);
  margin-bottom: 10px;
}

.reservationValue {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--primary-color);
  margin: 0;
}

@media (max-width: 768px) {
  .reservationStatusContainer {
    justify-content: center;
  }

  .reservationIndicator {
    width: 100%;
    max-width: 250px;
  }

  .cardsContainer {
    justify-content: center;
  }

  .arenaCard {
    width: 100%;
    max-width: 300px;
  }
}
