
.loginMainContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 900px;
    max-width: 1200px;
    margin: 0 auto;
    flex-grow: 1;
  }
  
  .loginWallpaper {
    flex: 1; 
    height: 100%;
    background-image: url('../../public/login-wallpaper.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .loginForm {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 100px;
  }

  .loginTitle{
    width: 60%;
    text-align: center;
  }

  .arenaZLogo{
    width: 150px;
    height: auto;
  }

  @media (max-width: 1200px) {
    .mainContainer {
      height: auto;
    }
    .arenaZLogo {
      width: 100px; 
    }
  }

  .loginForm span{
    font-weight: bold;
    color: var(--primary-color);
  }

  body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: 100%;
    max-width: 400px;
}

.inputContainer span {
    margin-bottom: 5px;
    font-size: 14px;
    color: var(--text-color);
}

.inputWrapper {
    position: relative;
    display: flex;
    align-items: center;
    border: 1px solid var(--background-color-hover);
    border-radius: 12px;
    padding: 10px;
    background-color: transparent;
}

.inputWrapper i {
    color: var(--background-color-hover);
    margin-right: 10px;
}

.inputWrapper input {
    border: none;
    outline: none;
    width: 100%;
    font-size: 14px;
    padding: 5px;
}

.inputWrapper input::placeholder {
  color: var(--text-color);
}

.inputWrapper:focus-within {
  border-color: var(--primary-color);
}

.inputWrapper {
  margin-left: 5px;
  color: var(--text-color);
}

.recallForget{
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 390px;
}

.checkbox {
  width: 15px;
  height: 15px;
  margin-right: 5px;
  cursor: pointer;
  accent-color: var(--primary-color);
}

.recallForget label{
  color: var(--text-color);
}

.forgetPasswordLink, .startNowLink{
  text-decoration: none;
  font-weight: bold;
  color: var(--primary-color);
  transition: 0.5s ease;
}

.forgetPasswordLink:hover, .startNowLink:hover{
  text-decoration: underline;

}

.loginPrimaryButton {
  background-color: var(--primary-color);
  width: 400px;
  color: var(--title-color);
  padding: 10px 30px;
  border-radius: 12px;
  border: none;
  font-size: 1.2rem;
  text-decoration: none;
  transition: transform 0.3s ease;
  margin-inline: 10px;
  transition: 0.5s ease;
}

.loginPrimaryButton:hover {
  background-color: var(--primary-color-hover);
  cursor: pointer;
}

.signUpLink {
  display: flex;
  align-items: center; 
  justify-content: center; 
}

.signUpLink p {
  margin-right: 10px; 
}

.signUpLink a {
  color: var(--primary-color);
  text-decoration: none;
}

.signUpLink a:hover {
  text-decoration: underline;
}